.headerContainer {
    position: relative;
    z-index: 2;
  .navBar {
    margin: 28px 56px 0 56px;
    display: flex;
    justify-content: space-between;
    color: white;
    div {
        display: flex;
      h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.03em;
        margin: 0 25px;
      }
    }
  }

  .logoContainer {
    top:-20px;
    position: absolute;
    left: 46%;
    .logo{
        width:120px;
    }
    h1 {
      color: #fa4776;
      font-size: 29px;
      margin-top: 0px;
      line-height: 0;
    }
  }
}
