.disabledInput[type="text"] {
  position: relative;
  padding: 10px 40px 5px 10px;
  width: 0px;
  color: white;
  font-size: 21px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  transition: width 0.4s ease;
  outline: none;
  bottom: 4px;
}
.activeInput[type="text"] {
  position: relative;
  padding: 10px 40px 10px 10px;
  width: 550px;
  height: 38px;
  right: -40px;
  color: white;
  font-size: 21px;
  letter-spacing: 2px;
  border: none;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-radius: 3px;
  transition: width 0.4s ease;
  transition: 0.7s ease;
  outline: none;
  bottom: 4px;
  background: rgba(103, 101, 113, 0.34);
  -webkit-backdrop-filter: blur(0.1em);
  backdrop-filter: blur(0.1em);
}
.searchBar {
  position: relative;
}
.searchResultBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 40px;
  top: 38px;
  width: 550px;
  max-height: 450px;
  overflow:scroll;
  overflow-x: hidden;
  background: rgba(103, 101, 113, 0.34);
  -webkit-backdrop-filter: blur(0.1em);
  backdrop-filter: blur(0.1em);
}
.searchIconBox {
  .searchIcon {
    width: 29px;
    height: 29px;
    z-index: 100;
    margin-right: 15px;
    transition: 0.1s ease;
  }
  :hover {
    color: #fa4776;
  }
}
.headerContainer {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  .navBar {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    position: flex;
    width: 90%;
    z-index: 3;
    margin: 0px 65px 0 65px;
    color: white;

    div {
      display: flex;
     
      h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 23px;
        color:#fa4776;
        line-height: 25px;
        letter-spacing: 0.03em;
        margin: 0 25px;
        text-shadow: 2px 3px 2px rgba(0,0,0,0.3);
        transition: transform .1s ease;
      }
      h2:hover{
        transform: scale(1.1);
        color:#f75681
      }
    }
  }

  .logoContainer {
    top: 10px;
    z-index: 5;
    position: absolute;
    left: 48%;
    .logo {
      width: 80px;
      cursor: pointer;
      transition: transform .1s ease;
    }
    .logo:hover{
      transform: scale(1.1);
    }
    h1 {
      color: #fa4776;
      font-size: 29px;
      margin-top: 0px;
      line-height: 0;
    }
  }
}
.resultItem{
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}
.resultDescription{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.resultImg{
  width:60px;
  height: 90px;
}
.resultTitle{
  margin: 0;
  margin-left: 0;
  font-weight: 600;
}
.resultYear{
  margin: 0;
  font-style: italic;
  font-size: 14px;
 }
.imdbIcon{
  width:30px;
  height:17px;
  margin-right: 2px;
}
.resultTitleYear{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}