.filmDescriptionContainer {
  height: 424px;
  width: 512px;
  margin-left: 88px;
  margin-top: 60px;
}
.filmName {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 66px;
  margin-bottom: 10px;
}
.filmDescription {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
}
.filmRate {
  color: yellow;
  font-size: 20px;
  font-weight: 700;
}
.buttonsContainer {
  .trailerButton {
   width: 120px;
   height: 38px;
   border: 1px solid #FFFFFF;
   border-radius: 41px;
   color:white;
   background-color: transparent;
   margin-left: 24px;
   font-weight: 600;
font-size: 13px;
  }
  .watchButton {
    width: 163px;
    height: 46px;
    background: #fa4776;
    border-radius: 41px;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.04em;
    border:none;
    color:white;
  }
}
