.homePageHeader{
    overflow: hidden;
    color: #111111;
    position: relative;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(0, 0, 0, 0.3);
}
.mainSliderDesription{
    z-index: 6;
    position: absolute;
    top:50px
}
.backgroundIMG{
    top:0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}
.mainSlider{
    overflow: hidden;
}
.filmDescriptionContainer {
    height: 424px;
    width: 512px;
    margin-left: 88px;
    margin-top: 60px;
    
  }
  .filmName {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .filmDescription {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }
  .filmRate {
    color: yellow;
    font-size: 20px;
    font-weight: 700;
  }
  .buttonsContainer {
    .trailerButton {
     width: 120px;
     height: 38px;
     border: 1px solid #FFFFFF;
     border-radius: 41px;
     color:white;
     background-color: transparent;
     margin-left: 24px;
     font-weight: 600;
  font-size: 13px;
    }
    .watchButton {
      width: 163px;
      height: 46px;
      background: #fa4776;
      border-radius: 41px;
      font-weight: 600;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.04em;
      border:none;
      color:white;
    }
  }
  .movieCard{
    padding: 10px 0px;
    width: 210px;
}
.movieCardImage{
    width: 182px;
    height: 258px;
    margin:  auto;
    background: url(https://media.vanityfair.com/photos/637269bd4ddf1ea7ae21f659/2:3/w_887,h_1331,c_limit/vf-1122-trump.png);
    background-size: 100% 100%;
    transition: transform .1s ease-in-out;

    &:hover{
        transform: scale(0.9)  
    }
}
.moviesListSlider{
    z-index: 6;
    position: absolute;
    bottom:40px;
    width: 90%;
    background: rgba(103, 101, 113, 0.34);
    border: 1px solid rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(10px);
}
.secondarySlider{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.sliderLabel{
    position: absolute;
    top: -50px;
    color: white;
}